.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  ul {
    padding: 0px;
  }
  svg {
    background-color: #f5f4fa;
    background-image: url(../images/svg/symbol-defs.svg#icon-1);
    content: "";
    width: 100%;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
  }
  .list-item {
    width: 100%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .hidden {
    visibility: hidden;
    font-size: 0;
  }
  .title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $text-font-size;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
  }
  .text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    color: $text-color;
  }
}
@media screen and (min-width: $mobil) {
  .advantages {
    ul {
      margin: 0px;
      padding-left: 0px;
    }
    .list-item {
      width: 100%;
    }
  }
}

@media screen and (min-width: $table) {
  .advantages {
    .container {
      margin-bottom: -30px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0px;
    }
    .list-item {
      margin: 0;
      width: calc((100% - 30px) / 2);
      margin-bottom: 30px;
      margin-right: 30px;
    }
  }

  @media screen and (max-width: $before-desktop) {
    .advantages .list-item:nth-child(even) {
      margin-right: 0;
    }
  }
}
@media screen and (min-width: $desktop) {
  .advantages {
    .advantages {
      padding-top: 94px;
      padding-bottom: 94px;
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
      }
    }
    .list-item {
      margin-right: 0;
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
