*{
  box-sizing: border-box;
  margin: 0;
padding: 0;}


body {
  background-image: url("../img/page-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

  .wrapper {
    width:1024px;
    margin: 0 auto;
    margin-bottom:64px;
    margin-top:40px;
    padding-top:116px;
    padding-bottom: 88px;
    background-color:white;
  }
    
    .block1 .block2 {
  
      width: 1024px;
      margin: 0 auto;
    
    }

     .article {
      display: inline-block;
      margin-left: 60px;
      width: 640px;
  
    }

   .sidebar {
display: inline-block;
   width:200px;
   margin-left:60px;
   vertical-align: top;
    }

    .article-img {
      float:left;
      width:364px;
      height: 284px;
      margin-right:10px;
    margin-bottom:10px;
    }

    h2 {
      font-size: 32px;
        font-family: "Pathway Gothic One";
        color: #263555;
      text-transform:uppercase;
      margin-bottom:20px;
      font-weight:400;
  }
  
      h4 {
      
          font-size: 15px;
          font-family: "Arial";
          color: #263555;
          font-weight: 500;
        }
        
  

    .list {
      position: relative;
      list-style: none;
      counter-reset: list;
        font-size: 12.5px;
        font-family: "Arial";
        color: rgb(38, 53, 85);
  
      }
      
 
    
    .list-item {margin-bottom:20px;
      counter-increment: list;
    }

    .list-item:last-child {margin-bottom:0}

  .h4list {display:inline-block;

  }

    .h4list::before {
      position:absolute;
      right:210px;
      display:inline-block;
      vertical-align: top;
      content: counter(list);
      padding: 5px 10px;
      border-radius: 50%;
      background-color: #38afe5;
      color: #fefefe;

    }

    .list2 {
      display:inline-block;
      vertical-align: top;
      width:240px;
      list-style: none;
    font-size: 15px;
        font-family: "Arial";
        color: #263555;
    
    }

    .list-item2 {
      margin-bottom:20px;
    }

    .list-item2:last-child {margin-bottom:0}

    .list-item2::before {
      padding:4px;
      display:inline-block;
      content: '\2192';
      color: #38afe5;
      font-size:13px;
   

    }

    .list3 {
    
      display:inline-block;
      vertical-align: top;
      list-style: none;
        font-size: 15px;
        font-family: "Arial";
        color: #263555;
    
    }

    .list-item3 {
      margin-bottom:20px;
      

    }

    .list-item3:last-child {margin-bottom:0}

    .list-item3::before {
      display:inline-block;
      padding: 4px;
      content: '\2192';
      color: #38afe5;
      font-size:13px;
    }




   .quote {
 
border: 1px solid #c6c7cd;
background-color: #fcfafa;
padding-left:24px;
padding-right: 18px;
padding-top:24px;
padding-bottom: 24px;
font-size: 15px;
font-family: "Arial";
color: #263555;


   }

    .quote::before {
      display:inline-block;
      content: '\201c';}

      .quote::after {
        display:inline-block;
        content: '\201d';}


        p {

          
            font-size: 13px;
            font-family: "Arial";
            color: rgb(78, 80, 80);
            padding-top: 10px;
            padding-bottom:10px;
          

        }

        .name {
            font-size: 16px;
            font-family: "Arial";
            color: #263555;
            text-align: center;
            
          }
          
          .status {

  text-align: center;
              font-size: 13px;
              font-family: "Arial";
              color: rgb(78, 80, 80);
              
    
          }

          .line { 
            width: 902px;
            height: 1px;
            background-color: #dedbdb; 
           padding:0;
            margin-top:54px;
            margin-bottom:54px;
            margin-left: 54px;
        }