.footer {
  background-color: $footer-bg-color;
  margin-left: auto;
  margin-right: auto;

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/* LOGO FOOTER*/

.logo-footer {
  margin-bottom: 20px;
  text-align: center;

  .logo-blue {
    font-family: $logo-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
  .logo-white {
    font-family: $logo-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $light-color;
  }
}
/* ADDRESS FOOTER */

.address-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px;

  margin-bottom: 60px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: $text-font-size;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: $light-color;

  ul,
  li {
    padding-left: 0px;
    margin: 0px;
    text-align: center;
  }
  li {
    margin-bottom: 9px;
  }
  li:last-child {
    margin-bottom: 0px;
  }
  a {
    color: rgba(255, 255, 255, 0.6);

    transition: color $animation-effect;
  }
  a:hover,
  a:focus {
    color: $accent-color;
  }
}
/* SOCIAL */
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;

  b {
    display: inline-block;
    margin-bottom: 20px;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $text-font-size;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
  }
  a {
    color: $light-color;
    line-height: 0.7;

    transition: background-color $animation-effect;
  }
  a:hover,
  a:focus {
    background-color: $accent-color;
  }
  .social-list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    background-size: auto;
    transition: background-color $animation-effect;
  }
  li:last-child {
    margin-right: 0px;
  }
  li:hover,
  li:focus {
    background-color: $accent-color;
  }
  .icon-soc {
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
/* SUBSCRIBE */
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .subscribe-label {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
  }

  [type="email"] {
    display: flex;
    padding-left: 16px;

    width: 100%;
    height: 50px;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.03em;
    color: $text-color;
    background-color: $footer-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @media screen and (max-width: $before-desktop) {
      margin-bottom: 20px;
    }
    &:focus,
    &:hover {
      outline: none;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity$animation-effect;
    }
    &::-moz-placeholder {
      opacity: 1;
      transition: opacity $animation-effect;
    }
    &:-moz-placeholder {
      opacity: 1;
      transition: opacity $animation-effect;
    }
    &:-ms-input-placeholder {
      opacity: 1;
      transition: opacity $animation-effect;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity $animation-effect;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity $animation-effect;
    }
    &:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity $animation-effect;
    }
    &:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity $animation-effect;
    }
  }
  .icon-send {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}

@media screen and (min-width: $table) {
  .footer {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card {
      width: calc(50% - 15px);
      .address-footer {
        margin-bottom: 0px;
      }
    }
    .social {
      width: calc(50% - 15px);
      margin-left: 30px;
    }
    .subscribe {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 60px;
      [type="email"] {
        width: 450px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer {
    .container {
      flex-wrap: nowrap;
      align-items: baseline;
    }
    .logo-footer {
      text-align: left;
    }
    .card {
      width: 231px;
      margin-right: 69px;
      .address-footer li {
        text-align: left;
      }
    }
    .social {
      width: 206px;
      margin: 0;
      margin-right: 94px;
      b {
        display: inline-block;
        text-align: left;
      }
      .social-list {
        justify-content: start;
      }
    }
    .subscribe {
      display: block;
      width: 570px;
      margin: 0;
      text-align: left;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;

      .subscribe-label {
        width: 100%;
        justify-content: start;
      }

      [type="email"] {
        display: inline-block;
        max-width: 358px;
        text-align: start;
        margin-right: 12px;
      }
    }
  }
}
